<launch>
  <param name="target_size" value="50"/>
  <param name="environment" value="dynamic"/>
  <param name="direct_sampling" value="true"/>
  <param name="direct_sampling_prob" value="0.25"/>
  <node name="robosoccer_motion_planning_node" pkg="robosoccer_motion_planning" type="robosoccer_motion_planning_node" output="screen" required="true" launch-prefix="stterm -g 200x60 -e gdb --args"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robosoccer_motion_planning)/rviz/robosoccer_viz_config.rviz"/>
</launch>
