devel/*
build/*
*.pyc
*.json
*.catkin*
*workspace*
*.so
*.o
src/robosoccer_trajectory_tracking/scripts/tracker.c
src/robosoccer_trajectory_tracking/scripts/tracker.cpp
src/robosoccer_trajectory_tracking/scripts/cython_tracker.cpp
src/rqt_graph/*
rosgraph2.dot
