[submodule "src/motion_planning"]
	path = src/motion_planning
	url = https://alifahrri@bitbucket.org/alifahrri/motion_planning.git
[submodule "src/gazebo2rviz"]
	path = src/gazebo2rviz
	url = https://github.com/alifahrri/gazebo2rviz.git
[submodule "src/pysdf"]
	path = src/pysdf
	url = https://github.com/alifahrri/pysdf.git
[submodule "src/gazebo_visual"]
	path = src/gazebo_visual
	url = https://github.com/alifahrri/gazebo_visual.git
